---
import Layout from "../layouts/Layout.astro";
---

<Layout title="aboutUs">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Almendra&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
    />
  </head>
  <section>
    <div class="aboutUs">
      <div class="aboutUs__header">
        <header>
          <h1>About <span class="text-gradient">MapIT</span></h1>

          <p class="aboutUs__text_first">
            Welcome to MapIT – the ultimate app for exploring and sharing your
            favorite places with friends! MapIT is designed to revolutionize the
            way you navigate and interact with the world around you. Whether
            you're discovering hidden gems, planning adventures, or simply sharing
            your favorite spots with friends, MapIT is your go-to companion.
          </p>
        </header>
      </div>
      <div class="aboutUs__main">
        <div class="aboutUs__content">
          <h2 class="aboutUs__subTitles">Our Mission</h2>

          <p class="aboutUs__text">
            At MapIT, our mission is simple: to connect people through shared
            experiences and the places they love. We believe that every corner
            of the world has something special to offer, and we're here to help
            you uncover and share those treasures with the people who matter
            most to you.
          </p>

          <h2 class="aboutUs__subTitles">Explore, Discover, Share</h2>

          <p class="aboutUs__text">
            With MapIT, the world is yours to explore. Simply drop a marker on
            any place that catches your eye – whether it's a cozy café, a
            breathtaking viewpoint, or a hidden gem off the beaten path. Add a
            photo, a title, and a brief description to make your marker come to
            life. Then, watch as it's instantly shared with all the friends
            you've connected with on the app.
          </p>

          <h2 class="aboutUs__subTitles">Connect with Friends</h2>

          <p class="aboutUs__text">
            MapIT isn't just about discovering new places – it's about sharing
            those discoveries with the people you care about. Connect with
            friends on MapIT to see the places they've marked, and let them in
            on your own favorite spots. Whether you're planning a group outing,
            sharing travel tips, or simply reminiscing about past adventures,
            MapIT makes it easy to stay connected and inspired.
          </p>

          <h2 class="aboutUs__subTitles">Privacy and Security</h2>

          <p class="aboutUs__text">
            At MapIT, we prioritize your privacy and security. You have full
            control over who sees your markers and who you connect with on the
            app. We're committed to creating a safe and welcoming community
            where you can freely share your experiences without compromising
            your privacy.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: "Carter One", cursive;
    font-size: 2rem;
    text-align: left;
  }
  header {
    animation: fadeIn 2s;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 80%; /* o cualquier otro valor que prefieras */
    width: 100%;

  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .text-gradient {
    color: transparent;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 400%;
    background-position: 0%;
  }

  

  .aboutUs__main {
    margin: 10px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */

  }

  .aboutUs__content {
    flex: 1.5;
    background: white; /* Hace que el fondo sea blanco */
    box-shadow: 0px 0px 5px #980000; /* Añade una sombra */
    width: 70%; /* Ajusta el ancho */

    margin-bottom: 20px; /* Añade espacio debajo del cuadrado */
    padding-bottom: 10px; /* Añade espacio debajo del contenido */
    position: relative; /* Añade esto */
    z-index: 2; /* Añade esto */
  }

  .aboutUs__subTitles {
    font-family: "Carter One", cursive;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
    text-indent: 20px;
    animation: fadeIn 4s;
  }
  .aboutUs__text_first {
    font-family: "Abel", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .aboutUs__text {
    font-family: "Abel", sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 90%; /* Añade esto */
    margin: 10px auto; /* Añade esto */
  }
</style>
